In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.float_format', '{:,.2f}'.format)  # Sets float format globally

df = pd.read_csv('apy.csv')

df.drop_duplicates(inplace=True)
df.fillna(0, inplace=True)

df["Crop_Year"] = df["Crop_Year"].astype(int)

In [2]:
print(df.groupby(["State_Name","Crop_Year","Season"])["Production"].idxmax())

State_Name                   Crop_Year  Season
Andaman and Nicobar Islands  2000       Kharif             81
                                        Whole Year          5
                             2001       Kharif             92
                                        Whole Year         14
                             2002       Kharif            129
                                                        ...
West Bengal                  2014       Kharif         244843
                                        Rabi           241720
                                        Summer         244275
                                        Whole Year     244277
                                        Winter         238597
Name: Production, Length: 1811, dtype: int64

In [3]:
dfd = df.loc[df.groupby(["State_Name", "Crop_Year", "Season"])["Production"].idxmax()]
print(dfd)

                         State_Name             District_Name  Crop_Year  \
81      Andaman and Nicobar Islands  NORTH AND MIDDLE ANDAMAN       2000
5       Andaman and Nicobar Islands                  NICOBARS       2000
92      Andaman and Nicobar Islands  NORTH AND MIDDLE ANDAMAN       2001
14      Andaman and Nicobar Islands                  NICOBARS       2001
129     Andaman and Nicobar Islands            SOUTH ANDAMANS       2002
...                             ...                       ...        ...
244843                  West Bengal               MURSHIDABAD       2014
241720                  West Bengal                   HOOGHLY       2014
244275                  West Bengal            MEDINIPUR WEST       2014
244277                  West Bengal            MEDINIPUR WEST       2014
238597                  West Bengal                 BARDHAMAN       2014

             Season       Crop       Area    Production
81      Kharif            Rice  10,779.00     31,863.00
5       Whole Year    Coconut   18,168.00 65,100,000.00
92      Kharif            Rice   9,718.00     27,033.00
14      Whole Year    Coconut   18,190.00 64,430,000.00
129     Kharif            Rice  10,695.80     31,600.82
...             ...        ...        ...           ...
244843  Kharif            Jute 154,776.00  2,225,245.00
241720  Rabi            Potato 100,745.00  3,506,137.00
244275  Summer            Rice 195,960.00    580,442.00
244277  Whole Year   Sugarcane   4,390.00    789,614.00
238597  Winter            Rice 419,814.00  1,361,138.00

[1811 rows x 7 columns]